[user]
    name = Sven-Hendrik Haase
    email = svenstaro@gmail.com
    signingkey = E62EB915

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto

[alias]
    lg = log --graph --all --format=format:'%C(yellow)%h%C(reset) - %C(cyan)%ci%C(reset) %C(green)(%cr)%C(reset) %C(bold yellow)%d%C(reset)%n          %C(white)%s%C(reset) %C(bold white)- %cn%C(reset)%n' --abbrev-commit --date=relative

[push]
    default = simple
    followTags = false

[github]
    user = svenstaro

[lfs]
    concurrenttransfers = 20

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[pager]
    # diff-highlight is script provided by git that shows word-by-word diff
    log  = /usr/share/git/diff-highlight/diff-highlight | less
    show = /usr/share/git/diff-highlight/diff-highlight | less
    diff = /usr/share/git/diff-highlight/diff-highlight | less

[commit]
    gpgsign = true

[pull]
    rebase = false
