[Unit]
Description=Plex Media Server
After=network.target

[Service]
Environment=LD_LIBRARY_PATH=/opt/plexmediaserver
Environment=PLEX_MEDIA_SERVER_HOME=/opt/plexmediaserver
Environment=PLEX_MEDIA_SERVER_APPLICATION_SUPPORT_DIR=%h/.local/share/plex
Environment=PLEX_MEDIA_SERVER_MAX_PLUGIN_PROCS=6
Environment=PLEX_MEDIA_SERVER_TMPDIR=/tmp
Environment=TMPDIR=/tmp
ExecStart=/opt/plexmediaserver/Plex\x20Media\x20Server
Type=simple
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3
StandardOutput=null

[Install]
WantedBy=multi-user.target
