@define-color fg1 #ebdbb2;
@define-color bg3 #665c54;
@define-color bg0 #282828;
@define-color bg0h #1d2021;
@define-color red0 #cc241d;
@define-color green0 #98971a;
@define-color yellow0 #d79921;
@define-color blue0 #458588;
@define-color purple0 #b16286;
@define-color aqua0 #689d6a;
@define-color orange0 #d65d0e;

* {
  font-size: 14px;
  border-radius: 5px;
}

.modules-right {
  background-color: rgba(29, 32, 33, 0.4);
}

window#waybar {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, monospace;
  background-color: transparent;
  border-bottom: 0px;
  color: @fg1;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
}

button {
  border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  transition-property: background-color;
  transition-duration: .2s;
}

#workspaces {
  background-color: @bg0;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @fg1;
  border-radius: 0;
}

#workspaces button:first-child {
  border-radius: 5px 0 0 5px;
}

#workspaces button:last-child {
  border-radius: 0 5px 5px 0;
}

#workspaces button:only-child {
  border-radius: 5px;
}

#workspaces button:hover {
  background-color: @yellow0;
  color: @bg0;
}

#workspaces button.visible {
  background-color: @bg3;
}

#workspaces button.active {
  background-color: @blue0;
}

#workspaces button.urgent {
  background-color: @purple0;
}

#idle_inhibitor,
#cpu,
#memory,
#network,
#language,
#submap,
#window,
#clock,
#battery,
#backlight,
#pulseaudio,
#tray,
#mpris,
#hardware,
#load {
  padding: 0 10px;
  background-color: @bg0h;
  color: @fg1;
}

#submap {
  background-color: @aqua0;
  color: @bg0;
}

#memory.warning {
  background-color: @orange0;
  color: @bg0;
}

#memory.critical {
  background-color: @red0;
  color: @bg0;
}

#battery.charging,
#battery.plugged {
  background-color: @green0;
  color: @bg0;
}

@keyframes blink {
  to {
    background-color: @bg0;
    color: @fg1;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: @red0;
  color: @fg1;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: black;
}

#pulseaudio.muted {
  background-color: @blue0;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
}

#mpris.playing {
  background-color: @yellow0;
  color: @bg0;
}

#tray menu {
  font-family: sans-serif;
}
