#!/bin/bash

if [[ $(hostname) == 'neo' ]]; then
    xrandr --dpi 96
elif [[ $(hostname) == 'dozer' ]]; then
    xrandr --dpi 144
fi

setxkbmap -layout us,de,ru -variant ,,phonetic -option grp:shifts_toggle

sxhkd &
./.fehbg
compton --config ~/.config/compton.conf -b
