#!/bin/bash

if [[ $(hostname) == 'neo' ]]; then
    xrandr --dpi 96
elif [[ $(hostname) == 'dozer' ]]; then
    xrandr --dpi 160
fi

setxkbmap -layout us,ru -variant altgr-intl,phonetic -option grp:shifts_toggle

./.fehbg &
compton --config ~/.config/compton.conf -b
