#!/bin/bash

export QT_AUTO_SCREEN_SCALE_FACTOR=1

if [[ $(hostname) == "dozer" ]]; then
    xrandr --dpi 140
fi

setxkbmap -layout us,ru -variant altgr-intl,phonetic -option grp:shifts_toggle

numlockx &
./.fehbg &
dunst &
slack &
telegram-desktop &
export XSECURELOCK_SAVER=saver_mpv
export XSECURELOCK_SHOW_DATETIME=1
export XSECURELOCK_LIST_VIDEOS_COMMAND="find ~/Videos/Fractals/ -type f"
export XSECURELOCK_VIDEOS_FLAGS="--panscan=1.0"
xss-lock -n /usr/lib/xsecurelock/dimmer -l -- xsecurelock &
